<div class="container-fluid">
  <div class="row py-5">
    <div class="col"></div>
    <div class="col">
      <img src="assets/jfrog-logo.png" class="d-inline mx-5 jfrog-logo">
    	<h2 class="text-center d-inline">Artifactory Stat Grabber</h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="row" *ngIf="!error && !results">
    <div class="col"></div>
    <div class="col">
      <form #request="ngForm" (ngSubmit)="getResults(request)">
        <div class="form-group row pb-0">
          <div class="col-sm-5">
            <label for="repo" class="form-label-sm">Repository</label>
            <input type="text" class="form-control form-control-sm" id="repo" placeholder="Repository name" name="repo" #repo="ngModel" ngModel required>
          </div>
          <div class="col">
            <label for="url" class="form-label-sm">URL</label>
            <input type="text" class="form-control form-control-sm" id="url" placeholder="e.g., jfrog.org or 31.33.99.104" name="url" #url="ngModel" ngModel required>
          </div>
        </div>
        <div class="form-group border px-1 py-1">
          <div class="row pt-2">
            <div class="col-sm-1"></div>
            <label for="username" class="col-sm-3 col-form-label-sm">Username</label>
            <div class="col">
              <input type="text" class="form-control form-control-sm" id="username" placeholder="Used for basic authentication" name="username" #username="ngModel" ngModel required>
            </div>
            <div class="col-sm-1"></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <label for="password" class="col-sm-3 col-form-label-sm">Password</label>
            <div class="col">
              <input type="password" class="form-control form-control-sm" id="password" placeholder="Cannot be blank" name="password" #password="ngModel" ngModel required>
            </div>
            <div class="col-sm-1"></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col text-right no-artifactory">
              <a href="https://jfrog.com/enterprise-plus-platform/free-trial/" target="_blank" >I don't have an account</a>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary" *ngIf="!searching">Submit</button>
        <button class="btn btn-outline-primary" *ngIf="searching">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </button>
      </form>
    </div>
    <div class="col"></div>
  </div>
  <div class="row pt-3 h-100" *ngIf="!searching && error && !results">
    <div class="col-md-3"></div>
    <div class="col text-center">
      <i class="fas fa-exclamation-triangle fa-2x text-danger"></i>
      <h3>Something went wrong.</h3>
      <h6>Please check back later or <a (click)="reset()" routerLink=".">try again</a>.</h6>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row pt-3 h-100" *ngIf="!searching && !error && results">
    <div class="col-md-3"></div>
    <div class="col text-center">
      <h3>Results</h3>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="interview" value="true" name="filter" [(ngModel)]="filter">
        <label class="form-check-label" for="interview">Display most and second most downloaded files only</label>
      </div>
      <button type="button" class="btn btn-sm btn-outline-primary float-right" (click)="reset()">Restart</button>
      <br><br>
      <table class="table mb-2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">File</th>
            <th scope="col">Total Downloads</th>
          </tr>
        </thead>
        <tbody *ngIf="!filter">
          <tr *ngFor="let file of files; index as i">
            <th scope="row">{{ i }}</th>
            <td>{{ file.name }}</td>
            <td>{{ downloadCount(file) }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="filter">
          <tr *ngFor="let file of mostDownloaded(); index as i">
            <th scope="row">{{ i }}</th>
            <td>{{ file.name }}</td>
            <td>{{ downloadCount(file) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<footer class="text-center bg-white fixed-bottom">
  <a href="https://github.com/munsy/art">Just give me the CLI version!</a>
</footer>